<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Monitoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
	  <section name="Contact" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.runtime.remoting>
    <application name="NFA">
      <client url="tcp://localhost:3147/NFA_HOST">
        <wellknown type="NFA_RCOM.clsRCOM,NFA_RCOM" url="tcp://localhost:3147/NFA_HOST/NFA_HOST_URI" />
      </client>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="DB" value="Data Source=localhost;Initial Catalog=NFE_PVESS_TB;Persist Security Info=True;User ID=sa;Password=qwe123!" />
    <add key="SAAS_DB_SVR" value="Data Source=localhost;Initial Catalog=NFE_PVESS_TB;Persist Security Info=True;User ID=sa;Password=qwe123!" />
    <add key="SAAS_TAG_SVR" value="tcp://localhost:3147/NFA_HOST/NFA_HOST_URI" />
    <add key="SAAS_USE" value="false" />
    <add key="LOG" value="false" />
    <add key="EVT_PORT" value="6013" />
    <add key="PIPE_SVR" value="NFA" />
    <add key="PIPE_CLT" value="LOCALHOST,EVT" />
    <add key="SOC_USE" value="false" />
    <add key="BAT_V_USE" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FAULT_LEVEL" value="1,2" />
    <add key="KEPSERVER" value="Kepware.KEPServerEX.V6" />
  </appSettings>
  <userSettings>
    <Monitoring.Properties.Settings>
      <setting name="_isSMS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_isReboot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_site" serializeAs="String">
        <value>장소</value>
      </setting>
      <setting name="_firstcount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="_defaultcount" serializeAs="String">
        <value>20</value>
      </setting>
    </Monitoring.Properties.Settings>
  </userSettings>
	<Contact>
		<add key="csh" value="01044466179"/>
	</Contact>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>